<ion-app>
  <ion-header transluscent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="leftmenu"></ion-menu-button>
      </ion-buttons>

      <ion-title><img style="display: inline-block; padding-top: 8px; height: 5ex" src="assets/theme/logo.png" /></ion-title>

      <ion-buttons id="usermenu-button" slot="end">
        <ion-icon *ngIf="authService.isAuthenticated | async" name="person-circle" size="large"></ion-icon>
        <ion-icon *ngIf="!(authService.isAuthenticated | async)" name="log-in-outline" size="large"></ion-icon>

        <ion-popover trigger="usermenu-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list *ngIf="authService.isAuthenticated | async">
                <ion-item [button]="true" routerLink="auth/userdetail">
                  <ion-icon name="settings-outline" slot="end"></ion-icon>
                  Settings
                </ion-item>
                <ion-item [button]="true" (click)="authService.logout()">
                  <ion-icon name="log-out-outline" slot="end"></ion-icon>
                  Logout
                </ion-item>
              </ion-list>

              <ion-list *ngIf="!(authService.isAuthenticated | async)">
                <ion-item [button]="true" routerLink="auth/login">
                  <ion-icon name="log-in-outline" slot="end"></ion-icon>
                  Login
                </ion-item>
                <ion-item [button]="true" routerLink="auth/register">
                  <ion-icon name="person-add-outline" slot="end"></ion-icon>
                  Register
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="leftmenu" contentId="main" class="left-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true" routerLink="home">
          <ion-item [button]="true" routerLink="home">Home</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item [button]="true" routerLink="lobby">Lobby</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true" *ngIf="(authService.userDetail | async)?.game">
          <ion-item [button]="true" (click)="reconnectCurrentGame()">
            Reconnect Current Game {{ (authService.userDetail | async)?.game }}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="(authService.userDetail | async)?.game" auto-hide="true">
          <ion-item [button]="true" (click)="leaveGame()">Leave Game</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true" routerLink="home/about">
          <ion-item [button]="true" routerLink="home/about">Imprint</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
  <!--ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer-->
</ion-app>
