data/db
*.pyc
*.bak
*.html.py



# Following from ionic
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

frontend/.idea
frontend/.ionic
frontend/.sass-cache
frontend/.sourcemaps
frontend/.versions
frontend/.vscode
frontend/coverage
frontend/dist
frontend/node_modules
frontend/platforms
frontend/plugins
frontend/www
