<ion-title> {{ gameinfo.stats.summary?.winner }} is quite a Seadog and finished first! </ion-title>
<div style="overflow: scroll">
  <table class="stats-table">
    <tr>
      <th>Player</th>
      <th>Checkpoint</th>
      <th>Distance</th>
      <th>Rotations</th>
      <th>Deaths</th>
      <th>.. by cannon</th>
      <th>.. by kraken</th>
      <th>Repairs</th>
      <th>Re-Rigs</th>
    </tr>
    <tr *ngFor="let cpinfo of stats.checkpoints.slice(0, -1); let i = index">
      <td>
        {{ gameinfo.players[cpinfo[0]].name }}
      </td>
      <td *ngFor="let fieldname of statsfields">
        <span [ngClass]="{ max: stats[fieldname][i][1] === getMinMaxStat(fieldname).max }">
          {{ stats[fieldname][i][1] }}
        </span>
      </td>
    </tr>
  </table>
</div>
