<ion-header [translucent]="true"> </ion-header>
<ion-content class="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-md="6" size-xs="12">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Imprint</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>This page is developed and hosted by</h2>
            mitopo UG (haftungsbeschränkt)<br />
            Alois Dirnaichner<br />
            Heufelder Str. 6<br />
            81671 München
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
