<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>Select Map</ion-label>
        <ion-select placeholder="Select map" interface="popover" cancelText="Cancel" (ionChange)="selectMapChange($event)">
          <ion-select-option *ngFor="let map of data?.available_maps" [value]="map">
            {{ map }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <div *ngIf="data?.selected_map">
          <app-phaserpreview [mapfile]="data.selected_map"></app-phaserpreview>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item *ngIf="data">
            <ion-label>Game Name:</ion-label>
            <ion-input [(ngModel)]="data.gamename"> </ion-input>
          </ion-item>
          <ion-item *ngIf="data?.selected_map"> Selected Map: {{ data.selected_map }} </ion-item>

          <ion-item *ngIf="data?.Nmaxplayers"> Number of players: {{ data.Nmaxplayers }} </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button *ngIf="data?.selected_map" (click)="createGameConfig($event)">Create Game</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
