<ion-content class="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="foreground" size-lg="6" size-md="8" size-xs="12">
        <h2>Games</h2>

        <ion-item *ngIf="reconnectGameId | async" [button]="true" (click)="reconnectGame()" color="primary">
          <ion-icon name="play-circle-outline" size="large"></ion-icon>
          Reconnect Game
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <b>Game</b>
            </ion-col>
            <ion-col>
              <b>Mode</b>
            </ion-col>
            <ion-col>
              <b>Map</b>
            </ion-col>
          </ion-row>
          <ion-row
            class="gamelist-row"
            [style.display]="reconnectGameId | async"
            *ngFor="let game of gameConfigs"
            (click)="joinGameConfig(game.id)"
          >
            <ion-col>{{ game.gamename }}</ion-col>
            <ion-col class="badge">{{ game.mode }}</ion-col>
            <ion-col class="name">{{ game.mapfile }}</ion-col>
          </ion-row>
          <ion-row *ngIf="gameConfigs.length === 0">
            <ion-col>No games available</ion-col>
          </ion-row>
          <ion-row (click)="newGameConfig()">
            <ion-col>
              <ion-button [disabled]="reconnectGameId | async" >
                <ion-icon name="add-outline" size="large"></ion-icon>
                Create New Game
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
