<ion-content scroll="false" class="background">
  <div [id]="gamedivid" class="phaser-game-container"></div>
  <ion-row>
    <ion-col size-xs="3" size-sm="2" id="tool-column">
      <ion-card #tools_menu>
        <ion-card-content>
          <ion-label>Round {{ Ngameround | async }}</ion-label>
          <ion-button id="power_down_button" (click)="powerDown()" [disabled]="poweredDown || submittedCards">
            <ion-icon name="construct-outline"></ion-icon>
            <ion-label id="power_down_label">Re-Rig</ion-label>
          </ion-button>
          <ion-button id="cannon-direction-button" [disabled]="poweredDown || submittedCards">
            <ion-img style="width: 40px" src="../../assets/img/cannon.png"></ion-img>
            <ion-label id="cannon_mount_label">Cannon Mount</ion-label>
          </ion-button>
          <ion-modal id="cannon-modal" trigger="cannon-direction-button">
            <ng-template>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img src="../../assets/img/cannon.png" />
                </ion-thumbnail>
                <ion-label>Cannon Direction</ion-label>
              </ion-item>
              <ion-row class="ion-justify-content-center">
                <ion-col>
                  <ion-radio-group
                    [value]="gameinfo?.players[gameinfo.me].cannon_direction"
                    (ionChange)="changeCannonDirection($event)"
                  >
                    <ion-row>
                      <ion-col> </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" [disabled]="poweredDown || submittedCards">
                          <ion-icon class="icon-cannon-direction" name="arrow-up"></ion-icon>
                          <ion-radio mode="md" value="{{ gameinfo?.CANNON_DIRECTION_DESCR2ID.cannon_forward }}"></ion-radio>
                        </ion-button>
                      </ion-col>
                      <ion-col> </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" [disabled]="poweredDown || submittedCards">
                          <ion-icon class="icon-cannon-direction" name="arrow-back"></ion-icon>
                          <ion-radio mode="md" value="{{ gameinfo?.CANNON_DIRECTION_DESCR2ID.cannon_left }}"></ion-radio>
                        </ion-button>
                      </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-img src="../../assets/img/boat.png"></ion-img>
                      </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" [disabled]="poweredDown || submittedCards">
                          <ion-icon class="icon-cannon-direction" name="arrow-forward"></ion-icon>
                          <ion-radio mode="md" value="{{ gameinfo?.CANNON_DIRECTION_DESCR2ID.cannon_right }}"></ion-radio>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col> </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-button fill="clear" [disabled]="poweredDown || submittedCards">
                          <ion-icon class="icon-cannon-direction" name="arrow-down"></ion-icon>
                          <ion-radio mode="md" value="{{ gameinfo?.CANNON_DIRECTION_DESCR2ID.cannon_backward }}"></ion-radio>
                        </ion-button>
                      </ion-col>
                      <ion-col> </ion-col>
                    </ion-row>
                  </ion-radio-group>
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-modal>
          <ion-progress-bar id="time-progress-bar" [value]="countDownTimer | async" color="danger"></ion-progress-bar>

          <ion-button id="submit_cards_button" (click)="submitCards()" [disabled]="submittedCards">
            <ion-icon name="send-outline"></ion-icon>
            <ion-label id="submit_cards_label">Set Sails</ion-label>
          </ion-button>
          <ion-item-divider></ion-item-divider>

          <ion-buttons id="leave_game_button">
            <ion-button color="primary">
              <ion-icon name="log-out-outline"></ion-icon>
              <ion-label id="leave_game_label">Leave Game</ion-label>
            </ion-button>
            <ion-popover trigger="leave_game_button" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  Really abandon your crew?
                  <ion-list>
                    <ion-button color="primary">
                      <ion-icon slot="start" name="send-outline"></ion-icon>
                      No! One more turn!
                    </ion-button>
                    <ion-button color="danger" (click)="leaveGame()">
                      <ion-icon slot="start" name="log-out-outline"></ion-icon>
                      Ay, leave them!
                    </ion-button>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xs="3" size-sm="2" id="card-column">
      <ion-card #cards_menu>
        <ion-card-content>
          <ion-reorder-group (ionItemReorder)="onCardsReorder($event)" disabled="false">
            <ion-reorder *ngFor="let card of cardsinfo | async; let i = index">
              <ion-item-divider *ngIf="i === gameinfo?.cardslots"></ion-item-divider>
              <ion-item class="gamecard-item" [class.active-card]="highlightCard(i)" [disabled]="cardCheck(i)">
                <ion-img class="gamecard-img" [src]="CARDS_URL + card[2].url"></ion-img>
                <ion-badge>{{ card[1] }}</ion-badge>
              </ion-item>
            </ion-reorder>
          </ion-reorder-group>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
