ion-grid {
  // have fullheight grid and one row so that game div sets max size of the phaser canvas
  height: 100%; // calc(100vh - 65px) !important;
}
#game_col {
  padding: 0px;
}
canvas {
  margin-top: 0px !important;
  max-height: calc(100vh - 65px) !important;
}

#piraterace-game {
  max-height: calc(100vh - 65px);
  max-width: 100%;
}

ion-card-header {
  padding-bottom: 0px;
  padding-top: 5px;
}
ion-card-content {
  padding: 0px;
}

#card-column {
  padding-top: 0px !important;
  ion-card {
    margin: 0px !important;
  }
}

#time-progress-bar {
  height: 1em;
}

#submit_cards_button {
  padding-left: 0.2em;
  height: 1.5em;
  width: 95%;
  ion-icon {
    padding-right: 0.2em;
    font-size: 1em;
  }
}
#submit_cards_label {
  font-size: 0.8em;
}

.gamecard-item {
  --min-height: 16px; // reduce default ion-item default height otherwise images are cropped
  height: 8vh;
  .gamecard-img::part(image) {
    height: 8vh;
    min-width: 5vw;
  }
  ion-badge {
    font-size: small;
  }
}
