#piraterace-game {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#game-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

ion-card-header {
  text-align: end;
  padding-bottom: 0px;
  padding-top: 5px;
  button {
    background-color: transparent;
    font-size: 1.5em;
  }
}
ion-card-content {
  padding: 0px;
  ion-item-divider {
    min-height: 0;
    height: 0.1em;
  }
}

#tool-column {
  position: absolute;
  left: 1vh;
  top: 2vh;
  z-index: 9;
  ion-card {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

#card-column {
  position: absolute;
  z-index: 9;
  right: 1vh;
  top: 2vh;
  ion-card {
    margin: 0px !important;
  }
}

#time-progress-bar {
  height: 2.2em;
  border-radius: 0.4em;
  width: 94%;
  margin: 2%;
}

#tool-column {
  ion-button {
    padding: 0.2em;
    height: 2.2em;
    width: 95%;
    ion-icon {
      padding-right: 0.2em;
      font-size: 1em;
    }
  }
  @media (max-width: 450px) {
    #cannon_mount_label {
      display: none;
    }
    #leave_game_label {
      display: none;
    }
    #chatbox_label {
      display: none;
    }
  }
  @media (min-width: 500px) and (min-height: 500px) {
    #open-chat-button {
      display: none;
    }
  }
}

#chatbox-card {
  ::ng-deep .chat-window {
    height: 20vh;
  }

  @media (max-width: 500px), (max-height: 500px) {
    display: none;
  }
}

ion-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: auto;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#cannon-modal {
  ion-radio {
    transform: scale(2);
  }
}

.gamecard-item {
  //opacity: .95;
  --min-height: 16px; // reduce default ion-item default height otherwise images are cropped
  height: 8vh;
  .gamecard-img::part(image) {
    height: 8vh;
    min-width: 5vw;
  }
  ion-badge {
    font-size: small;
  }
}

.active-card {
  border-style: ridge;
}

.icon-cannon-direction {
  position: absolute;
  left: 0;
  right: 0;
}

#cannon-direction-group {
  border: 2px solid var(--ion-color-primary);
  border-radius: 0.4em;
  width: 94%;
  margin: 2%;
}

#cannon-direction-card {
  width: 100%;
  ion-button {
    --padding-start: 5px;
    --padding-end: 5px;
  }
}

#cannon-direction-label {
  margin: 0;
}
