ion-grid {
  // have fullheight grid and one row so that game div sets max size of the phaser canvas
  height: 100%; // calc(100vh - 65px) !important;
}
#game_col {
  padding: 0px;
}
canvas {
  margin-top: -5px !important;
}

#game-canvas {
  border-style: solid;
  border-width: 0.3em;
}

ion-card-header {
  text-align: end;
  padding-bottom: 0px;
  padding-top: 5px;
  button {
    background-color: transparent;
    font-size: 1.5em;
  }
}
ion-card-content {
  padding: 0px;
  ion-item-divider {
    min-height: 0;
    height: 0.1em;
  }
}

#tool-column {
  margin-top: -10px !important;
  z-index: 9;
  ion-card {
    border-style: solid;
    border-width: 0.5em;
    margin: 0px !important;
  }
}

#card-column {
  margin-top: -10px !important;
  ion-card {
    border-style: solid;
    border-width: 0.5em;
    margin: 0px !important;
  }
}

#time-progress-bar {
  height: 1em;
}

#submit_cards_button {
  padding-left: 0.2em;
  height: 2.2em;
  width: 95%;
  ion-icon {
    padding-right: 0.2em;
    font-size: 1em;
  }
}

#power_down_button {
  padding-left: 0.2em;
  height: 2.2em;
  width: 95%;
  ion-icon {
    padding-right: 0.2em;
    font-size: 1em;
  }
}

.gamecard-item {
  //opacity: .95;
  --min-height: 16px; // reduce default ion-item default height otherwise images are cropped
  height: 8vh;
  .gamecard-img::part(image) {
    height: 8vh;
    min-width: 5vw;
  }
  ion-badge {
    font-size: small;
  }
}

.active-card {
  border-style: ridge;
}
