<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id="game_col">
        <div id="game" #game_div></div>
      </ion-col>
      <ion-col size="2">
        <ion-item
          class="ion-float-right ion-float-bottom"
          [button]="true"
          (click)="leaveGame()"
        >
          <ion-icon name="exit-outline" color="danger"></ion-icon>
        </ion-item>

        Round {{ Ngameround | async }}

        <ion-reorder-group
          (ionItemReorder)="onCardsReorder($event)"
          disabled="false"
        >
          <ion-item *ngFor="let card of cardsinfo">
            <ion-thumbnail>
              <ion-img [src]="CARDS_URL + card[1].url"></ion-img>
            </ion-thumbnail>
            <ion-reorder slot="start"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
